<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title> Unit Coverter </title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="app">
    <h1 id='title'>Unit Converter</h1>

    <ul class="tab">
      <li class="tab-item">
        <a class="tab-link" href="#length-form">Length</a>
      </li>
      <li class="tab-item">
        <a class="tab-link" href="#weight-form">Weight</a>
      </li>
      <li class="tab-item">
        <a class="tab-link" href="#temperature-form">Temperature</a>
      </li>
    </ul>

  </div>
</body>

</html>